:root{
    --color-principal: #104A59;
    --color-acento: #2E8E7F;
    --fondo-primario: white;
    --fondo-secundario: #F3EDE4;
    --color-textos-principales: #2c2C2C;
    --color-accion-boton: #E67E22;

    --fuente-titulos: "Montserrat", sans-serif;
    --fuente-texto: "Inter", sans-serif;
}

*{
    padding:0; margin:0;
}

.color-secundario{
    background-color: var(--fondo-secundario);
}

.contenedor{
    width: auto;
    padding: 20px 20%;
}

body{
    font-family: var(--fuente-texto);
}

h2{
    font-family: var(--fuente-titulos);
}

/* --- clases para mapa --- */

.mapa-local{
    fill: var(--color-principal);
    transition: fill 0.25s;
}

.mapa-local:hover{
    fill: var(--color-acento);
}

/* --- clases para lista locales --- */

.lista-locales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    justify-content: center;

}

.local{
    width: 260px;
    box-shadow: 2px 2px 10px rgb(170, 170, 170);
    border-radius: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px;
    justify-content: space-between;
    align-items: center;
}

.logo-local{
    height: 100px;
}
.logo-local img{
    object-fit: contain;
    height:100%;
    width: 100%;
}

.local-nombre{
    font-size: 20px;
    font-weight: bold;
}

.ocultar{
    display: none;
}